/* sky */

body {
  position: relative;
  background: #7aceff;
  height: 100vh;
}

/* clouds */

svg {
  position: absolute;
  top: -3%;
  left: 2.5%;
  width: 95%;
  height: 60%;
}

svg path {
}

/* coliseum and barbarian */

.img-container {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: 1;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* barbarian dialogue balloon */

.img-container .dialoge {
  position: absolute;
  top: 20%;
  left: 72%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 5px solid black;
  box-shadow: inset 0px 0px 10px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 15%;
  height: 25%;
}

.img-container .dialoge::before {
  content: "";
  position: absolute;
  top: 104%;
  left: 104%;
  background: white;
  border: 5px solid black;
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  width: 15%;
  height: 25%;
}

/* dialogue text */

.img-container .dialoge p {
  color: black;
  font-family: var(--pixel);
  font-style: normal;
  font-weight: normal;
  font-size: 0.8vw;
  line-height: 1.6875rem;
  text-align: center;
  width: 90%;
  height: auto;
}

/* start button */

a {
  position: absolute;
  top: 40%;
  left: 42%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 10px 5px rgba(243, 223, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 0.3rem;
  color: #ffffff;
  font-family: var(--pixel);
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-align: center;
  padding: 1.5% 3%;
  cursor: pointer;
  z-index: 1;
}

/* overlay */

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* box */

.overlay .box {
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 0.625rem;
  width: 60%;
  height: 80%;
}

/* left side */

.overlay .box .left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #dddddd;
  width: 50%;
  height: 100%;
}

.overlay .box .left::before {
  content: "Or";
  position: absolute;
  top: 47.5%;
  left: 92.5%;
  color: black;
  font-family: var(--semibold);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5vw;
  text-align: center;
  width: 15%;
  height: auto;
  z-index: 2;
}

.overlay .box .left::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 92.7%;
  background: white;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  width: 15%;
  height: 10%;
  z-index: 1;
}

.overlay .box .left *:not(.background),
.overlay .box .right *:not(.background) {
  z-index: 1;
}

.overlay .box .background {
  position: absolute;
  left: 0;
  width: 100%;
}

.overlay .box .left .background {
  top: unset;
  bottom: 0;
  background: #2376b1;
  clip-path: polygon(0 0, 100% 60%, 100% 100%, 0% 100%);
  border-radius: 0 0 0 0.625rem;
  height: 50%;
}

.overlay .box .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15%;
  width: 100%;
  height: 20%;
}

.overlay .box .container:nth-of-type(3) {
  justify-content: space-between;
  margin-bottom: 0;
  height: 30%;
}

.overlay .box .container:nth-of-type(4) {
  justify-content: space-evenly;
  margin-bottom: 0;
  height: 40%;
}

.overlay .box p {
  font-size: 2.5vw;
  font-family: var(--semibold);
  font-weight: 700;
  font-variant: small-caps;
  line-height: 140%;
  letter-spacing: 0.05rem;
  text-align: left;
  width: 80%;
}

.overlay .box h1 {
  font-size: 1vw;
  font-family: var(--semibold);
  font-weight: 600;
  font-variant: small-caps;
  line-height: 140%;
  text-align: left;
  width: 70%;
}

.overlay .box input {
  background: white;
  border: 1px solid #000000;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0.3rem;
  font-size: 1vw;
  padding: 0 5%;
  width: 70%;
  height: 27%;
}

.overlay .box .left #checkbox {
  position: relative;
  align-self: flex-start;
  background: rgba(0, 0, 0, 0);
  margin-left: 15%;
  width: 4.5%;
  height: 8%;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.overlay .box .left .checkbox {
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid #ffffff;
  border-radius: 5px;
  width: 4.7%;
  height: 9%;
  transform: translate(-695%, -205%);
}

.overlay .box .left .checkbox::after {
  content: "Remember me";
  position: absolute;
  left: 160%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.8vw;
  width: 1000%;
  height: 100%;
  cursor: default;
}

.overlay .box .left .checkMark {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  font-size: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: font-size 350ms ease-in-out, transform 350ms ease-in-out;
}

.overlay .box button {
  color: #2376b1;
  background: #ffffff;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 1.5vw;
  font-family: var(--semibold);
  font-weight: 700;
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 10%;
  width: 45%;
  height: 25%;
  cursor: pointer;
}

.overlay .box .right button {
  color: white;
  background: #ff4343;
}

/* right side */

.overlay .box .right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}

.overlay .box .right .background {
  top: 0;
  background: #ff4343b3;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 50%);
  border-radius: 0 0.625rem 0 0;
  height: 100%;
}

.right p,
.right h1 {
  color: white;
}

.overlay .box .right .container > div {
  height: 27%;
}

.checkAnim {
  -webkit-animation: check 350ms 1 forwards;
  animation: check 350ms 1 forwards;
}

.uncheckAnim {
  -webkit-animation: uncheck 350ms 1 forwards;
  animation: uncheck 350ms 1 forwards;
}

@keyframes uncheck {
  from {
    font-size: 1vw;
    transform: rotate(360deg);
  }
  to {
    font-size: 0vw;
    transform: rotate(0);
  }
}

@keyframes check {
  from {
    font-size: 0vw;
    transform: rotate(0);
  }
  to {
    font-size: 1vw;
    transform: rotate(360deg);
  }
}

/* random classes */

.wrong{
  color: red !important;
  border-color: red !important;
}
