<body>
  <div class="map">
    <img src="../../../assets/media/map_texture.png">
  </div>

  <div class="box">
    <div class="container">
      <!-- name -->
      <input type="text" placeholder="Name" required>

      <!-- atk -->
      <input class="slider" type="range" min="0" max="20" value="10">

      <!-- int -->
      <input class="slider" type="range" min="0" max="20" value="10">

      <!-- vida -->
      <input class="slider" type="range" min="0" max="20" value="10">

      <!-- username -->
      <input type="text" placeholder="Username" required>

      <!-- password -->
      <input type="password" placeholder="Password" required>

      <!-- create -->
      <button>Create Me</button>

      <div class="limitSkill">
        <p>Points: 30</p>
      </div>
    </div>
  </div>
</body>
