body {
  height: 100vh;
}

/* Game Map */
.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.map img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

/* Arena */
.arena {
  position: absolute;
  left: 36%;
  width: 10%;
  height: 20%;
}

/* Training */
.training {
  position: absolute;
  left: 19%;
  top: 70%;
  width: 15%;
  height: 25%;
}

/* shop */
.shop {
  position: absolute;
  left: 65%;
  top: 60%;
  width: 12.5%;
  height: 20%;
}

/* all img that aren't the game map or player img */
img:not(.not img) {
  object-fit: fill;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* div that ain't the .not class / arrow animation*/
div:not(.not):hover::before {
  content: "";
  position: absolute;
  top: 85%;
  left: 0;
  background: rgb(255, 230, 0, 0.75);
  width: 25%;
  height: 25%;
  clip-path: polygon(
    45% 10%,
    45% 35%,
    100% 35%,
    100% 65%,
    45% 65%,
    45% 90%,
    0 50%
  );
  transform: rotate(140deg);
  animation: indicatorTrain 750ms ease-in-out infinite forwards;
}

div:nth-of-type(2):hover::before {
  top: 35%;
  left: 120%;
  transform: rotate(0deg);
  animation: indicatorArena 700ms ease-in-out infinite forwards;
}

div:nth-of-type(4):hover::before {
  top: 105%;
  left: 5%;
  transform: rotate(130deg);
  animation: indicatorShop 750ms ease-in-out infinite forwards;
}

@keyframes indicatorTrain {
  from {
    top: 85%;
    left: 0;
  }
  to {
    top: 75%;
    left: 10%;
  }
}

@keyframes indicatorArena {
  from {
    top: 35%;
    left: 120%;
  }
  to {
    top: 35%;
    left: 105%;
  }
}

@keyframes indicatorShop {
  from {
    top: 105%;
    left: 5%;
  }
  to {
    top: 95%;
    left: 15%;
  }
}

/* player card */
.playerCard {
  position: absolute;
  top: 0;
  left: 70%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(
    -45deg,
    rgba(254, 217, 117, 0.75) 5%,
    rgba(253, 244, 151, 0.75) 20%,
    rgba(253, 88, 73, 0.75) 40%,
    rgba(214, 36, 158, 0.75) 50%,
    rgba(40, 89, 235, 0.75) 90%
  );
  width: 30%;
  height: 20%;
  clip-path: polygon(0 0, 100% 0%, 100% 65%, 30% 65%);
}

.playerCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  background: rgba(0, 0, 0, 0.75);
  width: 95%;
  height: 85%;
  clip-path: polygon(0 0, 100% 0%, 100% 65%, 28% 65%);
  z-index: -1;
}

.playerCard .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 25%;
}

/*  */
.playerCard .top p {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #ffe600;
  font-family: var(--pixel);
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  width: 45%;
  height: 100%;
  cursor: default;
}

.playerCard .top .img-container {
  border-radius: 100%;
  width: 10%;
  height: 100%;
  border: 2px solid white;
}

.playerCard .top .img-container:nth-last-of-type(1) {
  border-radius: 0;
  border: none;
  width: 5%;
  height: 60%;
  cursor: pointer;
}

.playerCard .top .img-container img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.playerCard .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 50%;
}
/*  */
