<body>
  <div class="map not">
    <img src="../../../assets/media/map_texture.png">
  </div>

  <div class="arena">
    <img src="../../../assets/media/arena.png" alt="arena">
  </div>

  <div class="training">
    <img src="../../../assets/media/training_barrack.png" alt="training">
  </div>

  <div class="shop">
    <img src="../../../assets/media/shop.png" alt="shop">
  </div>

  <div class="playerCard not">
    <div class="top not">
      <p>Username</p>

      <div class="img-container not">
        <img src="https://image.flaticon.com/icons/png/512/3135/3135715.png" alt="player profile">
      </div>

      <div class="img-container not">
        <img (click)="logOut()" src="../../../assets/media/exit.png" alt="log out">
      </div>
    </div>

    <div class="bottom not">

    </div>
  </div>
</body>
