<body>
  <!-- background image -->
  <div class="bgImg">
    <img src="../../../assets/media/shop_bg.png" alt="shop background">
  </div>

  <!-- shop box -->
  <div class="box">
    <!-- weapons -->
    <div class="items">
      <input #sword type="checkbox" (click)="chooseSword(burguer, axe)">

      <div class="weapons">
        <img src="../../../assets/media/sword.png" alt="Soldier sword">
      </div>

      <input #burguer type="checkbox" (click)="chooseBurguer(sword, axe)">

      <div class="weapons">
        <img src="../../../assets/media/tracker.png" alt="Ultimate cheeseburguer">
      </div>

      <input #axe type="checkbox" (click)="chooseAxe(sword, burguer)">

      <div class="weapons">
        <img src="../../../assets/media/axes.png" alt="Berserk axe">
      </div>
    </div>

    <!-- button -->
    <button (click)="equipWeapon(sword, burguer, axe)">Buy & equip</button>
  </div>
</body>
